body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}


/* Non-template CSS, names here will likely need to change */

.navbar-menu {
  color: ;
  background-color: ;
}

.navbar-link {
  color: ;
}

.dropdown-menu {
  color: ;
  background-color: ;
}

.dropdown-link {
  color: ;
}

.header-text {
  color: ;
}

.common-text {
  color: ;
}

.link-text {
  color: ;
  background-color: ;
}

.link-text:hover {
  color: ;
  background-color: ;
}

.button {
  color: ;
  background-color: ;
}

.button:hover {
  color: ;
  background-color: ;
}

.form-nav-container {
  display: flex;
  justify-content: center;
}

.form-nav-container a{
  text-decoration: underline;
  padding-left: 20px;
}

#form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#form div{
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#form input{
  height: 25px;
  width: 75%;
}

#form button{
  height: 60px;
  width: 25%;
  background-color: #00C80D;
  border-width: 0;
}

#homepage-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#homepage-container p{
  text-align: center;
}